/* Modus Versus Slicing
 *
 * /sass/objects/_footer.secondary.scss - Non-cosmetic styles for footer
 *
 * coded by Lugash
 * started at 16/02/2016
 */

 .footer {
    .aside {
        &__secondary {
            display: inline-block;
            width: 100%;
            .legals {
                
                &__link {

                }
            }

            .socials {
                &__list {
                    float: right;
                }
                &__elt {
                    display: inline-block;
                }

                &__social-facebook {

                }
                &__social-twitter {

                }
                &__social-googleplus {

                }
                &__rss-feed {

                }
            }
        }
    }
 }
