/* Modus Versus Slicing
 *
 * /sass/objects/_footer.scss - Non-cosmetic styles for footer
 *
 * coded by Lugash
 * started at 16/02/2016
 */

 .footer {
    .aside {
        &__primary {

            &__cols {
                display: block;
                height: 20em;
                .contact-infos {
                    display: inline-block;
                    width: 30%;
                    &__heading {

                    }
                    &__link {

                    }
                    &__paragraph {

                    }

                    &__contact {

                    }
                    &__term {

                    }
                    &__data {

                    }
                }
                .col-sitemap {
                    display: inline-block;
                    width: 15%;
                    &__heading {

                    }
                    &__list {

                    }
                    &__elt {

                    }
                    &__link {

                    }
                }
                .col-community {
                    display: inline-block;
                    width: 15%;
                    &__heading {

                    }
                    &__list {

                    }
                    &__elt {

                    }
                    &__link {

                    }
                }
                .col-blog-articles {
                    display: inline-block;
                    width: 30%;
                    &__heading {

                    }
                    &__link {
                        position: relative;
                    }
                    &__list {

                    }
                    &__elt {

                    }
                    &__img {
                        width: 70px;
                        height: 70px;
                    }
                    strong {

                    }
                    &__time {
                        position: absolute;
                        bottom: 2em;;
                        right: 0;
                    }
                }
            }
        }
    }
 }
