/* Modus Versus Slicing
 *
 * /sass/objects/_slider.scss - Non-cosmetic styles for slider
 *
 * coded by Lugash
 * started at 16/02/2016
 */

.slider {
    .slides {

        &__slide {
            height: 500px;
            strong {
                display: inline-block;
            }
            span {
                display: block;
                width: 35%;
            }
            &--is-active {

            }
        }
    }

    #slider-one {

    }
    #slider-two {
        display: none;
    }
    #slider-three {
        display: none;
    }

    .nav {
        position: relative;
        &__slide-button {
            position: absolute;
            top: -280px;
        }
        &__slide-previous {
            position: absolute;
            left: 0;
            &:before {

            }
        }
        &__slide-next {
            position: absolute;
            right: 0;
            &:before {

            }
        }

        &__dots {
            width: 20%;
            a {
                display: inline-block;
                width: 30%;
            }
            a+a {

            }
            &--is-active {

            }
        }
    }

}
