/* Modus Versus Slicing
 *
 * /sass/objects/_slider.scss - Non-cosmetic styles for slider
 *
 * coded by Lugash
 * started at 16/02/2016
 */

.slider {
    .slides {

        &__slide {
            height: 500px;
            strong {
                display: inline-block;
            }
            span {
                display: block;
                width: 35%;
            }
        }
    }

    #slider-one {

    }
    #slider-two {
        display: none;
    }
    #slider-three {
        display: none;
    }
}
