/* Modus Versus Slicing
 *
 * /sass/objects/_why.scss - Non-cosmetic styles for why
 *
 * coded by Lugash
 * started at 16/02/2016
 */

 .why {
     // HEADING
     &__heading {
         strong {
             display: block;
         }
         span {

         }
     }
     // FIGURE
     &__figure {

     }
     &__img {
        display: block;
        width: 80%;
     }
     // COLS
     &__cols {

         .why-col {
             float: left;
             width: 30%;
             height: 13em;
             &__heading {

             }
             &__paragraph {

             }
             &__author {
                display: block;
             }
         }
     }
     // CLIENTS
     .clients {
         &__heading {
             // bug!!
         }
         &__nav {
             position: relative;
         }
         &__client-previous {
             position: absolute;
             right: 20px;
             top: -10px;
         }
         &__client-next {
             position: absolute;
             right: 0;
             top: -10px;
         }

         &__list {

         }
         &__elt {
             display: inline-block;
             &:nth-child(n+6) {
                 display: none;
                 // temp
             }
         }
         &__link {

         }
         &__img {

         }
     }

 }
