/* Modus Versus Slicing
 *
 * /sass/components/_footer.scss - design for footer
 *
 * coded by Lugash
 * started at 16/02/2016
 */

.footer {
    background: $headerBackgroundColor;
    padding: 5em 10% 0;
    color: $menuTextColor;
    .aside {
        &__heading {
            position: relative;
            font-size: 0;
            &::before {
                content: "";
                background:  url( "#{ $imgPath }logo.svg" ) center left no-repeat;
                background-size: contain;
            }
        }
    }
}
