/* Modus Versus Slicing
 *
 * /sass/components/_footer.secondary.scss - design for footer
 *
 * coded by Lugash
 * started at 16/02/2016
 */

 .footer {
    .aside {
        &__secondary {
            background: darken( $lightMainColor, 15 );
            color: $menuTextColor;
            font-size: 1.5em;
            padding: 1em;

            .legals {
                &__link {
                    color: $menuTextColor;
                }
            }

            .socials {
                font-size: 0;
                &__list {

                }
                &__elt {
                    margin: 0 1rem;
                }

                &__social-facebook {
                    &:before {
                        // font awsome glyph U+f053;
                        content: "";
                        font: normal 3rem/1 $glyphs;
                        color: $menuTextColor;
                    }
                }
                &__social-twitter {
                    &:before {
                        // font awsome glyph U+f053;
                        content: "";
                        font: normal 3rem/1 $glyphs;
                        color: $menuTextColor;
                    }
                }
                &__social-googleplus {
                    &:before {
                        // font awsome glyph U+f053;
                        content: "";
                        font: normal 3rem/1 $glyphs;
                        color: $menuTextColor;
                    }
                }
                &__rss-feed {
                    &:before {
                        // font awsome glyph U+f053;
                        content: "";
                        font: normal 3rem/1 $glyphs;
                        color: $menuTextColor;
                    }
                }
            }
        }
    }
 }
