/* Modus Versus Slicing
 *
 * /sass/components/_footer.scss - design for footer
 *
 * coded by Lugash
 * started at 16/02/2016
 */

.footer {
    background: $headerBackgroundColor;
    padding: 5em 10%;
    color: $menuTextColor;
}
