/* Modus Versus Slicing
 *
 * /sass/componentss/_slider.scss - design for slider
 *
 * coded by Lugash
 * started at 16/02/2016
 */

.slider {
    .slides {
        &__slide {
            text-align: center;
            strong {
                margin-top: 15rem;
                padding: .5rem;
                border-radius: .4rem;
                font: bold 4.5rem/1 $openSansStack;
                color: $menuTextColor;
                text-align: center;
                text-transform: uppercase;
                background: $focusColor;
            }
            span {
                margin: 0 auto;
                margin-top: 1rem;
                padding: 1.4rem 3rem;
                border-radius: .4rem;
                font: normal 1.5rem/1 $openSansStack;
                color: $menuTextColor;
                text-align: center;
                line-height: 1.5em;
                background: rgba( $black, 0.4 );
            }
            &--is-active {

            }
        }
    }

    #slider-one {
        background: url('../assets/img/slider1.jpg') no-repeat center center;
        background-size: cover;
        // http://lorempixel.com/g/720*350/abstract
    }
    #slider-two {
        background: url('../assets/img/slider2.jpg') no-repeat center center;
        background-size: cover;
    }
    #slider-three {
        background: url('../assets/img/slider3.jpg') no-repeat center center;
        background-size: cover;
    }

    .nav {
        &__slide-button {
            padding: 0rem 1rem 1rem;
            border-radius: .4rem;
            font-size: 0;
            color: $menuTextColor;
            text-align: center;
            background: $focusColor;
            &:hover {
                background: $focusColor;
                box-shadow: 0 .3rem 0 $darkFocusColor;
            }
        }
        &__slide-previous {
            &:before {
                // font awsome glyph U+f053;
                content: "\00AB";
                font: normal 5rem/1 $glyphs;
            }
        }
        &__slide-next {
            &:before {
                // font awsome glyph U+f053;
                content: "\00BB";
                font: normal 5rem/1 $glyphs;
            }
        }

        &__dots {
            margin: 1em auto;
            a {
                padding: .2rem ;
                font-size: 0;
                color: $menuTextColor;
                text-align: center;
                background: $lightMainColor;
            }
            a+a {
                margin-left: 3%;
            }
            &--is-active {
                // ne fonctionne pas !
                background: black;
            }
        }
    }
}
